{% extends 'base.html' %} 
{% load static %}
{% block meta %}
    <link href="{% static 'style9.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

{% block content %}
    <div style="margin-top: 20vh;" class="d-flex justify-content-center">
        <h3 class="text-title">Fill In This Form to Sign Up</h3>
    </div>
    <div class="mb-5">
        <div class="d-flex justify-content-center">
            <div class="fr-form">
                <form method="POST" style="width: 100%; font-family: 'Poppins', sans-serif; padding-left: 5%; padding-right: 5%;" class="mt-3">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="p-form d-flex justify-content-start">
                            {{form_signup.username.label_tag}}
                        </div>
                        {{form_signup.username}}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form_signup.email.label_tag}}
                        </div>
                        {{form_signup.email}}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form_signup.password_awal.label_tag}}
                        </div>
                        {{form_signup.password_awal}}
                    </div>
                    <div class="form-group">
                        <div class="p-jawab d-flex justify-content-start">
                            {{form_signup.password_lagi.label_tag}}
                        </div>
                        {{form_signup.password_lagi}}
                    </div>
                    <div class="d-flex justify-content-end mb-3">
                        <button type="submit" class="btn btn-secondary" style="background-color:#734631;">Sign Up</button>
                    </div>
                </form>
                <div class="mt-3 d-flex justify-content-start">
                    <p style="font-family: 'Poppins', sans-serif; padding-left: 5%; padding-right: 5%;">Already have an account? <a href="{% url 'story9:login'%}">Log In</a></p>
                </div>
        
            </div>
        </div>
    </div>
{% endblock content %}
