{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <link href="{% static 'style7.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'jquery-3.5.1.js'%}"></script>
    <script src="{% static 'story7.js' %}"></script>
{% endblock meta %}

{% block content %}

<div class="d-flex justify-content-center">
    <h3 class="text">Hello, this is Aran</h3>
</div>
<div class="container accordion mb-5">
    <div id="acc-activities">
        <h3>Activities
            <span style="float: right;">
                <button style="font-size: 15px;" class="button-up"><i class="fas fa-angle-up"></i></button>
                <button style="font-size: 15px;" class="button-down"><i class="fas fa-angle-down"></i></button>
            </span>
        </h3>
        <div>
            <p class="accor-text">Kegiatan saya sekarang adalah:</p>
            <ul class="accor-text">
                <li>Kuliah secara online dari rumah karena pandemi</li>
                <li>Ikut kepanitiaan dan organisasi</li>
                <li>Ngerjain tugas</li>
                <li>Makan dan tidur</li>
                <li>Nonton Jae main game</li>
            </ul>
        </div>
    </div>
    <div id="acc-experience">
        <h3>Experience
            <span style="float: right;">
                <button style="font-size: 15px;" class="button-up"><i class="fas fa-angle-up"></i></button>
                <button style="font-size: 15px;" class="button-down"><i class="fas fa-angle-down"></i></button>
            </span>
        </h3>
        <div>
            <p class="accor-text">Pengalaman organisasi dan kepanitiaan saya selama di Fasilkom adalah:</p>
            <ul class="accor-text">
                <li>Staf Biro PSDM BEM Fasilkom UI 2020</li>
                <li>Staf Divisi Fundraising COMPFEST12</li>
                <li>Staf Divisi Humas dan Publikasi Wisuda Ganjil Fasilkom UI 2020</li>
                <li>Staf Divisi Humas dan Publikasi Pemira IKM Fasilkom UI 2019</li>
            </ul>
        </div>
    </div>
    <div id="acc-achievement">
        <h3>Achievement
            <span style="float: right;">
                <button style="font-size: 15px;" class="button-up"><i class="fas fa-angle-up"></i></button>
                <button style="font-size: 15px;" class="button-down"><i class="fas fa-angle-down"></i></button>
            </span>
        </h3>
        <div class="accor-text">
            <p>Prestasi saya:</p>
            <ul>
                <li>Completer Kumon EFL</li>
            </ul>
        </div>
    </div>
    <div id="acc-band">
        <h3>My Favorite Band
            <span style="float: right;">
                <button style="font-size: 15px;" class="button-up"><i class="fas fa-angle-up"></i></button>
                <button style="font-size: 15px;" class="button-down"><i class="fas fa-angle-down"></i></button>
            </span>
        </h3>
        <div class="accor-text">
            <p>Sekarang saya lagi nge-fans banget sama band namanya DAY6</p>
            <p>Member DAY6:</p>
            <ul>
                <li>SUNGJIN</li>
                <li>JAE</li>
                <li>YOUNGK</li>
                <li>WONPIL</li>
                <li>DOWOON</li>
            </ul>
            <p>Lagu-lagu DAY6 yang enak menurut saya:</p>
            <ul>
                <li>Marathon</li>
                <li>Warning</li>
                <li>days gone by</li>
                <li>semuanya</li>
            </ul>
            <p>Ayo semua dengerin lagu DAY6</p>
        </div>
    </div>
</div>

{% endblock content %}