h3{
    font-family: 'DM Serif Display', serif;
}
#acc-activities h3{
    background-color: #F7F1E9;
}
#acc-experience h3{
    background-color: #F7F1E9;
}
#acc-achievement h3{
    background-color: #F7F1E9;
}
#acc-band h3{
    background-color: #F7F1E9;
}
.accor-text{
    font-family: 'Poppins', sans-serif;
}
.button-position{
    float: right;
}
#acc-activities .ui-accordion-header.ui-state-active{
    color: black;
    background:#E5D5CC;
    border: none;
}
#acc-experience .ui-accordion-header.ui-state-active{
    color: black;
    background:#E5D5CC;
    border: none;
}
#acc-achievement .ui-accordion-header.ui-state-active{
    color: black;
    background:#E5D5CC;
    border: none;
}
#acc-band .ui-accordion-header.ui-state-active{
    color: black;
    background:#E5D5CC;
    border: none;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
}
.text{
    color: #734631;
    font-family: 'DM Serif Display', serif;
    margin-top: 20vh;
}