.home {
    background: linear-gradient(to bottom, #ffffff 45%, #E5D5CC 0%);
    height: 70vh;
    width: 100vw;
}
.square{
    height: 70%;
    width: 50%;
    background-color: #F7F1E9;
    top: 50%;
    left: 50%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: -200px;
    display: flex;
}
.text{
    display: flex;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #734631;
    margin: auto;
}
.text-login{
    display: flex;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #E5D5CC;
    margin: auto;
}
