{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <script src="{% static 'script8.js' %}"></script>
    <link href="{% static 'story8.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}


{% block content %}
    <div class="d-flex justify-content-center">
        <h3 class="text">Search for books here!</h3>
    </div>

    <div class="container justify-content-center text-center p-5" style="max-width: 700px;">
        <input class="form-control" id="keyword" placeholder="Search...">
    </div>

    <table class="table table-striped justify-content-center text-center">
        <thead>
            <tr>
                <th class="table-text" scope="col">Cover</th>
                <th class="table-text" scope="col">Title</th>
                <th class="table-text" scope="col">Author</th>
            </tr>
        </thead>
        <tbody class="txt-pop"></tbody>
    </table>

{% endblock content %}