.search-bar{
    margin-top: 100px;
    text-align: center;
    display: block;
}
.text{
    color: #734631;
    font-family: 'DM Serif Display', serif;
    margin-top: 20vh;
}
.table-text{
    color: #734631;
    font-family: 'DM Serif Display', serif;
}
.txt-pop{
    color: #734631;
    font-family: 'Poppins', sans-serif;
}
