{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>✰ | Aransandya</title>
        <link rel="icon" href="{% static 'logo.png' %}" type="image/icon type">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block meta %} {% endblock meta %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{% url 'home:home' %}#"><img src="{% static 'logo.png' %}" alt="logo" style="width: 40px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="{% url 'story7:story7' %}" style="font-family: 'Poppins', sans-serif">story 7</a>
                <a class="nav-item nav-link" href="{% url 'story8:story8' %}" style="font-family: 'Poppins', sans-serif">story 8</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'story9:logout' %}" style="font-family: 'Poppins', sans-serif">Log Out</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'story9:login' %}" style="font-family: 'Poppins', sans-serif">Log In</a>
                <a class="nav-item nav-link" href="{% url 'story9:signup' %}" style="font-family: 'Poppins', sans-serif">Sign Up</a>
                {% endif %}
            </div>
            </div>
        </nav>
        {% block content %} {% endblock content %}

        <!-- block for js and jquery accordion -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>

