.fr-form{
    width: 80%;
    height: 70%;
    background-color:#F7F1E9;
    margin-top: 50px;
    border-radius: 15px;
}
.text-title{
    display: flex;
    text-align: center;
    font-family: 'DM Serif Display', serif;
    color: #734631;
    margin: auto;
}
