{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link href="{% static 'stylemain.css' %}" rel="stylesheet" type="text/css">
{% endblock meta %}

{% block content %}
  {% if user.is_authenticated %}
    <div div class="d-flex justify-content-center" style="font-family: 'DM Serif Display', serif; margin-top: 15vh; color: #BBAAA0 ;"> 
        <h2>Hello, <span style="color:#734631">{{ user.username }}</span>! Have a great day!</h2>
    </div>

    <div class="d-flex justify-content-center" style="font-family: 'DM Serif Display', serif; margin-top: 5vh; color: #BBAAA0;"> 
        <p>Congratulations! You've just got yourself a treasure!</p>
    </div>
    <div class="d-flex justify-content-center mb-5">
      <iframe src="https://open.spotify.com/embed/track/1bL26HXVXnIwof5WL92HaG" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    
    {% else %}
    <div class="home">
      <div class="square">
        <p class="text h1">Hello, there!</p>
      </div>
    </div>
    {% endif %}
{% endblock content %}
